*{
   margin: 0;
   padding: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container{
    height: 90%;
    width: 35%;
    background:linear-gradient(#01a2f2 50%,#17eca6 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.moment_container{
    width: 100%;
    height: 80%;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.heading{
    font-size: 50px;
    font-weight: bolder
}

.subhead{
    font-size: large;
    font-weight: 300;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(179, 182, 185);
}

hr{
    width: 100%;
    border: 1px solid rgb(193, 188, 188);
}

.lasthead{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(1, 1, 25);
}

.time_box{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;
}

.but_class{
    padding: 5px;
    height: 70px;
    width: 100px;
    background-color: #01a2f2;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: larger;
}

.msg{
    color: rgb(59, 58, 58);
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: 4px;
}